@import "reset.css";

a{
    text-decoration-line:none;
}
img {
    padding: 10px 0px 10px 0px;
}
p{
    margin: 0px;
    padding: 10px 0px 10px 0px;
    font-size: 18px;
    line-height: 22px;
}
ol {
    line-height:24px;
}
header{
    background-color:skyblue;
}
header > h1{
    margin: 0;
    padding: 20px 0px 20px 0px;
    font-size: 50px;
    /* font-weight: 900; */
    text-align: center;
}
.nav_main > ul{
    padding-inline-start: 0;
}
.nav_main ul li{
    list-style: none;
}
.menu {
    display: flex;
}
.menu-item {
    background-color: gold;
    flex-grow: 1;
    transition: 0.5s;
}
.menu-item:hover {
    background-color: crimson;
    flex-grow: 1.2;
}
.menu-link {
    /* block이면 마우스 클릭영역이 더 커짐, a태그는 inline으로서 클릭영역이 콘텐츠에 한정됨*/
    display: block; 
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    color: #555;
    text-decoration: none;
    text-align: center;
}
.menu-link:hover {
    color: white;
}

.section {
    display:flex;
    /* flex-direction: row; */
    flex-wrap: nowrap;
    flex-basis: auto;
}
.nav_left {
    background-color: peachpuff;
    /* padding-top: 30px; */
    padding: 20px 10px 0px 0px;
    font-size: 16px;
    font-weight:900;
    height:auto; 
    /* flex: flex-grow(0) 
        flex-shrink(1) flex-basis(auto) */
    /* flex: 1 1 30%; */
    /* 크기고정  flex:none*/
    flex:0 0 auto;
}
.nav_left li{
    /* 요소 너비가 내용 최대치에 좌우됨 */
    /* width: max-content; */
}
.content{
    background-color:palegreen;
    padding: 20px 0px 0px 20px;
    height:100%;
    overflow: auto;
    /* overflow: scroll; */
    flex:70%;
}
.content > h2{
    margin: 0px;
    /* font-size: 30px; */
    /* font-weight: 800; */
}
.content > p:nth-of-type(1){
    font-size: 16px;
}
.content > p:nth-of-type(4){
    font-weight:bold;
}
footer{
    background-color: khaki;
    margin-top: auto;
    padding: 10px 0 10px 0;
}